body {
  font-family: helvetica;
}

.left {
  float: left;
  position: relative; 
  width: 30%;
  padding: 25px 25px 25px 25px;
}

.sectionHead {
  font-family:helvetica;
  font-size: 26px;
  padding-bottom:15px;
}

.sectionSubtitle {
  font-size: 18px;
  padding-bottom: 25px;
}

.rightAlign {
  float: right;
}

.center {
  position: relative; 
  float: left;
  width: 25%;
  padding: 25px 25px 25px 25px;
}

.textPanel {
  width:100%;
}

#mainText{
  width: 100%;
  height: 520px;
}

.rightCenter {
  float: left;
  width: 10%;
  padding: 25px 25px 25px 25px;
}

.rightSide {
  float: left;
  width: auto;
  padding: 25px 0px 25px 25px;
}

#tutorialBox {
  position:relative;
}

#tutorials {
  height: 550px;
}

.tutorialIndent {
  padding-left: 10px;
}

#tutorialPageContentWrapper {
  padding-top: 10px;
}

.logo {
  font-family: helvetica;
  font-size: 24px;
  padding: 20px;
  text-align:right;
}

.header {
  border-style:solid;
  border-width:0px 0px 2px 0px;
  border-color:gray;
}

.dropdown {
  font-size: 14px;
}

#answerText {
  width: 100%;
  resize:none;
  height: 20px;
}

.qa {
  font-size: 16px;
  font-weight: bold;
}

.tutorial {
  text-align: left;
}

#helpText {
  width: 100%;
  height: 100px;
  border: 1px solid #CCC;
}

.panel {
  padding-bottom: 20px;
}

.scroll-pane
{
  width: auto;
  height: auto;
  overflow: auto;
}

#memoryPane {
  height: 550px;
}

#memoryPane td
{
  width: 30px;
}

#memoryBox
{
  width: 100%;
  height: 550px;
  overflow: auto;
}

#memoryScroll {
}

.onFlag {
  background: #FFFFCC;
  color: #C28547;
}

.condBox {
  line-height: 23px;
  padding: 5;
  text-align: center;
}

.condTable {
  height: 50px;
  width: 100%;
  background: #DDE;
}

td {
  border: 3px solid white;
}

#runSpeedSlider {
  position: relative;
  width: 100px;
}

#sliderWrapper {
  padding:6px;
  width: 100px;
  display: inline;
  float: right;
}

#runSpeed {
  float: right;
  padding-left: 3px;
  width: 5px;
}


#runSpeedLabel {
  float: right;
  padding-top: 4px;
  padding-left: 10px;
}

.ui-slider-horizontal  {
  width: 100px; 
}

.button_bar {
  margin-bottom: 20px;
}

.topButtons {
  padding: 10px 30px 10px 30px;
}

.navimg {
  height: 20px;
  width: 20px;
}

.navbtn {
  float: right;
  display: inline;
}

button {
  display: inline;
}

#questionAnswer {
  padding-top: 15px;
  padding-bottom: 15px;
}

#error_alert {
  padding: 15px;
}