#rRB {
  color: red;
}

#aRB {
  color: orange;
}

#iRB {
  color: #E0DD1B;
}

#nRB {
  color: green;
}

#bRB {
  color: blue;
}

#oRB {
  color: indigo;
}
#wRB {
  color: violet;
}

#onion {
  height: 20px;
  width: 20px;
}

.sectionHead {
  font-size: 26px;
  padding-bottom:5px;
  font-family: 'Cabin';
}

#topNav {
  background: white;
  color: black;
}

#aboutBtn {
  color: black;
}

#contactBtn {
  color: black;
}

#helpBtn {
  color: black;
}

.sectionSubtitle {
  font-size: 18px;
  padding-bottom: 25px;
}

.rightAlign {
  float: right;
}

.left {
  float: left;
  position: relative; 
  width: 400px;
  padding: 10px 15px 15px 15px;
}


.center {
  position: relative; 
  float: left;
  width: 500px;
  padding: 10px 15px 15px 15px;
}

.textPanel {
  width:100%;
}

#mainText {
  background-color: white;
  color: black;
  width: 100%;
  height: 450px;
}

.rightCenter {
  float: left;
  width: 180px;
  padding: 10px 15px 15px 15px;
}

.rightSide {
  float: left;
  width: 160px;
  padding: 10px 15px 15px 15px;
}

#tutorialBox {
}

#tutorials {
  height: 550px;
}

#registers {
  height: 550px;
}

.tutorialIndent {
  padding-left: 10px;
}

#tutorialPageContentWrapper {
  padding-top: 10px;
}

.logo {
  font-size: 24px;
  padding: 20px;
  text-align:right;
}

.header {
  border-style:solid;
  border-width:0px 0px 2px 0px;
  border-color:gray;
}

.dropdown {
  font-size: 14px;
}

#answerText {
  width: 60%;
  resize:none;
  height: 20px;
}

.qa {
  font-size: 16px;
  font-weight: bold;
}

.tutorial {
  text-align: left;
}

.help {
  width: auto;
}

.panel {
  padding-bottom: 20px;
}

.scroll-pane
{
  width: auto;
  height: auto;
  overflow: auto;
}

.maincontent {
  width: 100%;
  height: 100%;
}

#memoryPane td
{
  width: 30px;
}

#memoryBox
{
  width: 100%;
  height: 550px;
  overflow: auto;
}

#memoryScroll {
}

.onFlag {
  background: #FFFFCC;
  color: #C28547;
}

.condBox {
  line-height: 23px;
  padding: 5;
  text-align: center;
}

.condTable {
  height: 50px;
  width: 100%;
  background: #DDE;
}

td {
  border: 3px solid white;
}

#runSpeedSlider {
  position: relative;
  width: 100px;
}

#sliderWrapper {
  padding:6px;
  width: 100px;
  display: inline;
  float: right;
}

#runSpeed {
  float: right;
  padding-left: 3px;
  width: 5px;
}


#runSpeedLabel {
  float: right;
  padding-top: 4px;
  padding-left: 10px;
}

.ui-slider-horizontal  {
  width: 100px; 
}

.button_bar {
  margin-bottom: 20px;
  width: 100%;
}

.topButtons {
  padding: 10px 30px 10px 30px;
}

.navimg {
  height: 20px;
  width: 20px;
}

.navbtn {
  float: right;
  display: inline;
}

button {
  display: inline;
}

#question {
  margin-bottom: 15;
}

#questionAnswer {
  padding-top: 15px;
  padding-bottom: 15px;
}

#error_alert {
  padding: 15px;
}

#helpBox {
  margin-top: 10px;
  width: 477px;
  background-color: white;
  border: 2px solid #ADB3B2;
}

#tutorialhead h2 {
    display:inline;
}

#usage {
  display: inline;
}